body{
    background-color: #e8e3e3;
    margin:0px;;
    padding:0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    background-image:url("bg.jpg");
    background-repeat: no-repeat;
    background-size: fill;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color:  white;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.5);
    padding: 0px 5%;
}
nav ul li a{
    margin: 50px;
    font-family: "Berlin Sans FB";
    color: #505050;
    font-size: 16px;
    font-weight: 100;
    transition: ,2s;
    text-shadow: 2px 2px 4px black;
}
nav ul{
    display: flex;
}
.logo{
    color: black;
    font-size: 32px;
    font-family: "algerian";
    font-weight: bolder;
    transition: .2s;
}
.logo:hover{
    transform: scale(1.3);
}
.zoom{
    transition: .3s;
}
.zoom:hover{
    transform: scale(1.5);
}    

.profilepic{
    width: 275px;
    height: 275px;
    margin-top: 25px;
    border-radius: 250px;
    border: 2px solid grey;
    box-shadow: 10px px 8px #1f1515a4;
    transition: .4s;
    float: left;

}
.profilepic:hover{
    transform: scale(1.09);
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.top-left{
    position: absolute;
    top: 50px;
    left: .2px;
    text-align: left;
    font-size: 32px;
    font-family: langar;
}
.top-right{
    position: absolute;
    top: 50px;
    right: 75px;
}
.box{
    position: center;
    display: flex;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    width: auto;
    background: rgba(255,255,255,.2);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.541);
    transition: .4s;
}
.box:hover{
    transform: scale(1.1);
}
.box1{
    position: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: auto;
    background: rgba(255,255,255,.2);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.541);
    transition: .4s;
}
.box1:hover{
    transform: scale(1.1);
}
.box2{
    position: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: auto;
    background: rgba(255,255,255,.2);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.541);
    transition: .4s;
}
.box2:hover{
    transform: scale(1.1);
}
.box3{
    position: center;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: auto;
    background: rgba(255,255,255,.2);
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.541);
    transition: .4s;
}
.box3:hover{
    transform: scale(1.1);
}
    h1{
    font-size: 40px;  
    font-family:  "oswald";
    margin-left: 15%;
  }
h2{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-family: cookie;
}
.image{
    border-radius: 250px;
    width: 150px;
    height: 150px;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}
h3{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-family: cookie;
    font-size: 22px;
}
h4{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-family: cookie;
    font-size: 29px;
}
h5{
    margin-left: 22px;
    margin-right: 22px;
    font-family: cookie;
    font-size: 29px;
}
h6{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: center;
    margin: 0 5px;
    background:white;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    transition: all 0.3s ease-in-out;
}
.wrapper .button:hover{
    width: 220px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.wrapper{
    text-align: center;
}
